body{
    margin: 0;
   
}


header{
    background-color: #4ea0ff;
    background-image: url(../img/pattern.png);
    height: 115px;
    width: 100%;
    background-size:350px;
  
   
}

#logo{
    width: 190px;
    padding: 60px;
    margin-left: 22px;
}

main{
   margin-left: 150px;
   
}

h1{
    margin-bottom: 1px;
    margin-left: 40px;
}


#boolean{
    color: #2bade6;
}




address{
    color: grey;
    margin-left: 40px;
}

#tim1{
    margin-top: 17px;
    margin-left: 0px;
}


figcaption{
    font-size: 10px;
}

#exerci{
    background-color: yellow;
}

p{
    margin-left: 40px;
}

ul{
    margin-left: 20px;
}


